<!DOCTYPE html>
<html>
    <head>
        <title>Encrypt-Decrypt Text</title>
        <link rel="stylesheet" href="../assets/style.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="brand">Encrypt-Decrypt Text</li>
                    <li class="nav-right"><a href="/sign-ver">SIGN/VERIFY</a></li>
                    <li class="nav-right"><a href="/enc-dec">ENCRYPT/DECRYPT</a></li>
                    <li class="nav-right"><a href="/gen-keys">GEN-KEYS</a></li>
                    <li class="nav-right"><a href="/home">HOME</a></li>
                </ul>
            </nav>
        </header>
        <main>
           
        </main>
        <footer>
            <p>&copy; 2023 Muhammad Diffa Ananda Lukman</p>
        </footer>
    </body>
</html>