<%- include('./partials/header'); %>
        <main>
            <div class="jumbotron">
                <div class="text-jumbotron">  
                    <h1>Encrypt & Decrypt Text</h1>
                    <h1>With</h1>
                    <h1>RSA & ECC Algorithm</h1>
                </div>
            </div>
            <article>
                <h2>STEPS</h2>
                <div class="flex-container">
                    
                </div>
            </article>
        </main>
<%- include('./partials/footer'); %>