<%- include('./partials/header'); %>
        <main>
            <div class="jumbotron">
                <div class="text-jumbotron">  
                    <h1>Encrypt & Decrypt Text</h1>
                    <h1>With</h1>
                    <h1>RSA & ECC Algorithm</h1>
                </div>
            </div>
            <article>
                <h2>STEPS</h2>
                <div class="card">
                    <h3>1. Generate Public-Private Keys</h3>
                    <img src="../assets/images/gen-keys-step.png" class="center" width="70%">
                </div>
                <div class="card">
                    <h3>2. Public Key Exchange</h3>
                    <img src="../assets/images/pbk-exchange-step.png" class="center" width="28%">
                </div>
                <div class="card">
                    <h3>3. Generate Shared-Secret Key (for ECC Algorithm)</h3>
                    <img src="../assets/images/gen-ssk-step.png" class="center" width="50%">
                </div>
                <div class="card">
                    <h3>4. Encrypt</h3>
                    <img src="../assets/images/encrypt-step.png" class="center" width="60%">
                </div>
                <div class="card">
                    <h3>5. Sign</h3>
                    <img src="../assets/images/sign-step.png" class="center" width="60%">
                </div>
                <div class="card">
                    <h3>6. Send Ciphertext and Signature</h3>
                    <img src="../assets/images/send-cipher-signature-step.png" class="center" width="28%">
                </div>
                <div class="card">
                    <h3>7. Decrypt</h3>
                    <img src="../assets/images/decrypt-step.png" class="center" width="60%">      
                </div>
                <div class="card">
                    <h3>8. Verify</h3>
                    <img src="../assets/images/verify-step.png" class="center" width="60%">                 
                </div>              
            </article>
        </main>
<%- include('./partials/footer'); %>