<%- include('./partials/header'); %>
        <main>
            <article>
                <div class="flex-container">
                    <div class="flex-box">
                        <h2>SIGN</h2>
                        <form id="sign-form" action="http://localhost:61666/sign" method="post" enctype="multipart/form-data">
                            <label for="id">Private Key Sender:</label>
                            <input type="file" id="key" name="pvk">
                            <p>Text Data:<p>
                            <textarea name="data" rows="10" cols="60"></textarea>
                            <input type="submit" id="submit" class="clearfix btn" value="Sign">
                        </form>
                        <br>
                        <form id="signature-download-form" action="http://localhost:61666/downloads" method="post">
                            <p>Signature:</p>
                            <textarea readonly name="message" rows="10" cols="60"><%= signature %></textarea> 
                            <input type="hidden" id="type" name="file_type" value="signature">
                            <input type="submit" id="submit" class="clearfix btn" value="Download"> 
                        </form> 
                    </div>
                    <div class="flex-box">
                        <h2>VERIFY</h2>
                        <form id="verify-form" action="http://localhost:61666/verify" method="post" enctype="multipart/form-data">
                            <label for="id">Public Key Sender:</label>
                            <input type="file" id="key" name="pbk">
                            <p>Text Data:<p>
                            <textarea name="data" rows="10" cols="60"></textarea>
                            <br>
                            <label for="id">Signature:</label>
                            <input type="file" id="key" name="signature">
                            <input type="submit" id="submit" class="clearfix btn" value="Verify">
                        </form>
                        <br>
                        <p>Result:</p>
                        <textarea readonly name="message" rows="2" cols="60"><%= verify %></textarea>
                    </div>
                </div>
            </article>
        </main>
<%- include('./partials/footer'); %>